body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-image: url(Untitled\ design\ \(2\).png);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.menu {
    background-color: #333;
    padding: 10px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.menu ul li a:hover {
    background-color: #555;
}

.section {
    margin: 20px 150px;
    padding: 20px;
    background-color: #e6e3e3;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.toolbar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.toolbar button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#drawingCanvas {
    border: 2px solid #000;
    background-color: white;
}

.slider {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.slider img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
